<h2>Новая задача:</h2>
<%= form_with(model: @todo) do |form| %>
  <%= form.text_field :text, placeholder: "Название задачи..."%></br>
  <%= form.label 'Название проекта' %>
  <%= form.select "project", options_from_collection_for_select(@projects, "id", "title") %></br>
  <%= form.submit 'OK', :class => "button expand" %>
<% end %>